<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css" />
<link rel="stylesheet" href="../static/css/menusm.css" type="text/css" />
<link rel="stylesheet" href="../static/css/skeleton.css">
<link rel="stylesheet" href="../static/css/layout.css">

<!-- JavaScript -->
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/menusm.js"></script>
<script type="text/javascript" src="../static/js/scripts.js"></script>

<!-- Config User Intarface Box Import START -->
<script type="text/javascript" src="../static/js/head_html_default_block.js"></script>
<script type="text/javascript" src="../static/js/head_html_block.js"></script>

<!-- Config User Intarface Box Import END -->
<script type="text/javascript" src="../static/js/tinynav.min.js"></script>
<script type="text/javascript">
	$(function () {
		$('#menu-top-menu').tinyNav({
			active: 'selected',
			header: 'Navigation' 
		});
	});
</script>

</head>
<body>
<div class="body_pattern">
  <div class="index_page">
    <div class="main">
      <div class="header">
        <div class="headcenter">
          <div class="container">
            <div class="header_menu">
              <div class="header_menu_resize"> 
                
                <!-- menu -->
                <div class="menu"> 
                  <script type="text/javascript" src="../static/js/menu_html_block.js"></script> 
                </div>
                <!-- /menu --> 
                
                <!--end small navigation -->
                <div class="clr"></div>
              </div>
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
           <div class="header_resize">
              <div class="clr"></div>
              <!-- logo -->
              <div class="logo">
                <div><a href="index.html">Cage the Elephant Collection</a></div>
              </div>
              <!-- logo -->
              <div class="clr"></div>
              
              <!-- social -->
              <div class="social">
              </div>
              <!-- social -->
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <div class="clr"></div>
      
      <!-- now_page -->
      <div class="now_page">
        <div class="container">
         <div class="clr"></div>
          <div class="now_page_resize">
            <h1>Welcome to my website!</h1>
          </div>
          
        </div>
      </div>
      <!-- /now_page -->
      <div class="clr"></div>
      
	  <!-- content -->
      <div class="content">
        <div class="content_resize" id="gallery">
          <div class="container">
            <div class="content_page">
              <div class="content_full_size">
                <div class="content_box"> 
                  <h2>This website provides a list of Cage the Elephant music videos and singles.</h2>
                  <h3>Cage the Elephant is an American rock band from Kentucky, USA. The band consists of vocalist Matthew Shultz, rhythm guitarist Brad Shultz, drummer Jared Champion and bassist Daniel Tichenor, as well as touring keyboardist/guitarist Matthan Minster and touring lead guitarist Nick Bockrath. The band is known all over the United States and the United Kingdom since they released their first album 'Cage the Elephant' in 2008.</h3>

                  <p>&nbsp;</p>
                  <br />
                  <br />
                  <div class="clear"></div>
                </div>
                <div class="clr"></div>
              </div>
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <!-- /content --> 
	  
	  
      <!-- footer -->
      <div class="footer">
        <div class="footercenter">
          <div class="container">
            <div class="footer_resize">
              <p>&copy; Copyright Cage the Elephant Collection. All Rights Reserved. Design by <a href="http://www.dreamtemplate.com/" target="_blank" title="DreamTemplate"><em class="a_footer_color">DreamTemplate</em></a></p>
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <!-- /footer -->
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
