<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Music Videos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css" />
<link rel="stylesheet" href="../static/css/menusm.css" type="text/css" />
<link rel="stylesheet" href="../static/css/skeleton.css">
<link rel="stylesheet" href="../static/css/layout.css">

<!-- JavaScript -->
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/menusm.js"></script>
<script type="text/javascript" src="../static/js/scripts.js"></script>

<!-- Config User Intarface Box Import START -->
<script type="text/javascript" src="../static/js/head_html_default_block.js"></script>
<script type="text/javascript" src="../static/js/head_html_block.js"></script>

<!-- Config User Intarface Box Import END -->
<script type="text/javascript" src="../static/js/tinynav.min.js"></script>
<script type="text/javascript">
	$(function () {
		$('#menu-top-menu').tinyNav({
			active: 'selected',
			header: 'Navigation' 
		});
	});
</script>

</head>
<body>
<div class="body_pattern">
  <div class="index_page">
    <div class="main">
      <div class="header">
        <div class="headcenter">
          <div class="container">
            <div class="header_menu">
              <div class="header_menu_resize"> 
                
                <!-- menu -->
                <div class="menu"> 
                  <script type="text/javascript" src="../static/js/menu_html_block.js"></script> 
                </div>
                <!-- /menu --> 
                
                <!--end small navigation -->
                <div class="clr"></div>
              </div>
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
            <div class="header_resize">
              <div class="clr"></div>
              <!-- logo -->
              <div class="logo">
                <div><a href="index.html">Cage the Elephant Collection</a></div>
              </div>
              <div class="clr"></div>
              <div class="social"></div>
			  
              <!-- logo -->
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <div class="clr"></div>
      
      <!-- now_page -->
      <div class="now_page">
        <div class="container">
          <div class="now_page_resize">
            <h1>Music Videos</h1>
            <div class="clr"></div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
      <!-- /now_page -->
      <div class="clr"></div>
      
      <!-- content -->
      <div class="content">
        <div class="content_resize" id="gallery">
          <div class="container">
            <div class="content_page">
              <div class="content_full_size">
                <div class="content_box"> 
                  
                  <!-- dCodes Hosted Examples: Start -->
                  
                  <!-- DC Columns CSS -->
                  <link type="text/css" rel="stylesheet" href="http://cdn.dcodes.net/2/columns/css/dc_columns.css" />
                  
                  <!-- DC Social Icons CSS -->
                  <link rel="stylesheet" type="text/css" href="http://cdn.dcodes.net/2/social_icons/dc_social_icons.css" />
                  
				  
                  <!-- Videos --->
                  
                  <!-- DC [Columns: L/Sidebar + Body] Start -->
                  <div class="one_third_pad">
					<a href="https://youtu.be/lA-gGl6qihQ"><img src="../static/images/gallery/mv-t.png" /></a>
				  </div>
                  <!-- END one_third_pad -->
                  
                  <div class="two_third_pad column-last">
                    <h3>Trouble</h3>
                    <h4>2016</h4>
					<p>Lenghth: 4:00<p>
                    <p>Director: Matthew Shultz & Juliette Buchs Shultz<p>
                  </div>
                  <!-- END two_third_pad --> 
                  <!-- DC [Columns: L/Sidebar + Body] End -->
                  <div class="dc_clear"></div>
                  <!-- line break/clear line --> 
                  
				  
				  
				  
                  <!-- DC [Columns: L/Sidebar + Body] Start -->
                  <div class="one_third_pad">
					<a href="https://youtu.be/Wl7cF9bwNHE"><img src="../static/images/gallery/mv-ma.png" /></a>
				  </div>
                  <!-- END one_third_pad -->
                  
                  <div class="two_third_pad column-last">
                    <h3>Mess Around</h3>
                    <h4>2015</h4>
					<p>Lenghth: 2:58<p>
                    <p>Director: Georges Melies<p>
				</div>
                  <!-- END two_third_pad --> 
                  <!-- DC [Columns: L/Sidebar + Body] End -->
                  <div class="dc_clear"></div>
                  <!-- line break/clear line --> 
                  
				  
		
				  
                  <!-- DC [Columns: L/Sidebar + Body] Start -->
                  <div class="one_third_pad">
					<a href="https://youtu.be/opeETnB8m8w"><img src="../static/images/gallery/mv-cd.png" /></a>
				  </div>
                  <!-- END one_third_pad -->
                  
                  <div class="two_third_pad column-last">
                    <h3>Cigarette Daydreams</h3>
                    <h4>2014</h4>
                    <p>Lenghth: 5:27<p>
                    <p>Director: Mark Pellington<p>
				</div>
                  <!-- END two_third_pad --> 
                  <!-- DC [Columns: L/Sidebar + Body] End -->
                  <div class="dc_clear"></div>
                  <!-- line break/clear line --> 
                  
				  
				  
				  
                  <!-- DC [Columns: L/Sidebar + Body] Start -->
                  <div class="one_third_pad">
					<a href="https://youtu.be/ahZFnwDVl1I"><img src="../static/images/gallery/mv-tioli.png" /></a>
				  </div>
                  <!-- END one_third_pad -->
                  
                  <div class="two_third_pad column-last">
                    <h3>Take It or Leave It</h3>
                    <h4>2014</h4>
                    <p>Lenghth: 3:52<p>
                    <p>Director: Isaac Rentz<p>
				  </div>
                  <!-- END two_third_pad --> 
                  <!-- DC [Columns: L/Sidebar + Body] End -->
                  <div class="dc_clear"></div>
                  <!-- line break/clear line --> 
                  
                  
                  <p>&nbsp;</p>
                  <br />
                  <br />
                  <div class="clear"></div>
                </div>
                <div class="clr"></div>
              </div>
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <!-- /content --> 
      
      <!-- footer -->
      <div class="footer">
        <div class="footercenter">
          <div class="container">
            <div class="footer_resize">
              <p>&copy; Copyright Cage the Elephant Collection. All Rights Reserved. Design by <a href="http://www.dreamtemplate.com/" target="_blank" title="DreamTemplate"><em class="a_footer_color">DreamTemplate</em></a></p>
              <div class="clr"></div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <!-- /footer -->
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
