

/*

* Skeleton V1.2

* Copyright 2011, Dave Gamache

* www.getskeleton.com

* Free to use under the MIT license.

* http://www.opensource.org/licenses/mit-license.php

* 6/20/2012

*/



/* Table of Content

==================================================

	#Site Styles

	#Page Styles

	#Media Queries

	#Font-Face */



/* #Site Styles

================================================== */



/* #Page Styles

================================================== */



/* #Media Queries

================================================== */



	/* Smaller than standard 960 (devices and browsers) */

	@media only screen and (max-width: 959px) {

		.container .search input.editbox_search { width: 120px; }

		.container .wright { padding: 20px 0 0 0; float: right; }

		.container .wright.add { float: right; }

		.container .centercol { width: 94%; }

		.container .wright.add .centercol { width: 100%;}

		.container .six.columns.alpha.omega.some { width: 235px; }

		.container .wright.on2 { padding-top: 0px; }

		.content_page.net .col3 { margin-right: 25px; }

		.container .col4 { margin-right: 19px; }

		.container .col4.last { margin-right: 0px; }

		}

		



	/* Tablet Portrait size to standard 960 (devices and browsers) */

	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#controls { right: 6%!important; }

		#slider-wrapper object { height: 315px; }

		

		}



	/* All Mobile Sizes (devices and browser) */

	@media only screen and (max-width: 767px) {

		.container .now_page_resize { padding: 0 0px 30px; }

		.container .header_resize { background: url(../images/header_bg_resize2.png) center bottom0 no-repeat; }

		.container .search input.editbox_search { width: 193px; }

		.container .col2 { width: 100%; }

		.container .fr { float: none; }

		.container .fr.btn { float: right; }

		.container .centercol { width: 100%; }

		.container .flickr a img { margin-right: 25px; }

		.container #coment img { float: none; }

		.container #coment2 img { float: none; }

		.container #coment .podpis { float: none; }

		.container #coment2 { margin-left: 0px; }

		.container #coment2 img { float: none; }

		.container #coment2 .podpis { float: none; }

		.container #coment3 { margin-left: 0px; }

		.container #coment3 img { float: none; }

		.container #coment3 .podpis { float: none; }

		.container .col3 { padding-bottom: 10px; width: 44%; }

		.container .col3.second { margin-right: 0px; float: right; }

		.container .pic.fr { margin-left: 0px; }

		.container .pic.fl.non { margin-right: 0px; float: none; }

		.container .pic.fr.non { float: none; }

		.container .pic img { width: 100%; }

		.container .wright { float: left; }

		.container .r_plus_overlay { display: none; }

		.container .r_plus { display: none; }

		.container .six.columns.alpha.omega.some { width: auto; }

		.container .col3.second { float: right; }

		.container .col4 { width: 44%; }

		.container .col4.second { margin-right: 0px; float: right; }

		.container .col4.last.end { margin-right: 0px; float: right; }

		.container .col4 h3 a { font-size: 16px!important; }

		.container .sidebar_rec img { width: auto; }

		.container .p404 h2 { margin: 0px; }

		.container .p404 p { padding: 40px 0 0 0; }

		.headcenter { width: 100%; overflow: hidden; background: url(../images/header_bg_resize.png) center bottom no-repeat; }

		.container .header_resize { background: none; }

		.container .footer_resize { background: none; }

		.footercenter { padding-top: 50px; background: url(../images/header_bg_resize4.png) center top no-repeat; }

		.index_page .footer, .index_page .footer_resize { height: auto!important; }

		.container .index_page .footer p { padding-top: 0px!important; }

		.menu .menusm { display: none; }

		.menu .tinynav { padding: 3px 0 3px; margin: 29px auto 25px auto; width: 80%; display: block; height: 30px; }

		.camera_caption > div { padding: 5px !important; font-size: 8px !important; line-height: 12px; }

		#slider-wrapper object { height: 240px; }

		.header_menu { margin-bottom: 20px; height: 50px;}

			}



	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

	@media only screen and (min-width: 480px) and (max-width: 767px) {

		#controls { right: 8%!important; }

		#now_slider {padding:0 0 16px; margin-bottom: 20px; }

		#now_slider.gap21 { padding-bottom: 10px; }

		.pricing_six .pricing_column, .pricing_six .pricing_column_first { width: 15% !important; } 

		}



	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

	@media only screen and (max-width: 479px) {

		.container .col3 { width: 100%; }

		.container .col3.second { margin-right: 0px; float: none; }

		.container .col4 { margin: 0px; width: 100%; }

		#slider-wrapper object { height: 160px; }

		.menu .tinynav { width: 100%; }

		#now_slider {padding:0 0 14px; margin-bottom: 20px; }

		}

		





/* #Font-Face

================================================== */

/* 	This is the proper syntax for an @font-face file

		Just create a "fonts" folder at the root,

		copy your FontName into code below and remove

		comment brackets */



/*	@font-face {

	    font-family: 'FontName';

	    src: url('../fonts/FontName.eot');

	    src: url('../fonts/FontName.eot?iefix') format('eot'),

	         url('../fonts/FontName.woff') format('woff'),

	         url('../fonts/FontName.ttf') format('truetype'),

	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');

	    font-weight: normal;

	    font-style: normal; }

*/