<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Mies Fansite</title>

	<!-- Google Fonts Starts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<!-- Google Fonts Ends -->
	
	<!-- Metadata Starts -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Metadata Ends -->

	<!-- CSS Starts -->
		<link rel="stylesheet" href="../static/css/website.css" type="text/css" media="screen"/>
		<link rel="stylesheet" href="../static/css/style.css" type="text/css" />
		<link rel="stylesheet" href="../static/css/menusm.css" type="text/css" />
		<link rel="stylesheet" href="../static/css/skeleton.css">
		<link rel="stylesheet" href="../static/css/layout.css">
	<!-- CSS Ends -->

	<!-- Javascript Starts -->
		<script type="text/javascript" src="../static/js/respond.src.js"></script>
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/menusm.js"></script>
		<script type="text/javascript" src="../static/js/scripts.js"></script>
		<script type="text/javascript" src="../static/js/jquery.tinycarousel.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#slider1').tinycarousel();
				});
		</script><link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
	<!-- Javascript Ends -->

	<!-- PrettyPhoto Starts -->
		<link rel="stylesheet" type="text/css" href="../static/css/prettyPhoto.css" />
		<script type="text/javascript" src="../js/static/jquery.prettyPhoto.js"></script>
	<!-- PrettyPhoto Ends -->

	<!-- Preloader Starts -->
		<link href="../static/css/preloader.css" rel="stylesheet" />
		<script src="../static/js/jquery.preloader.js" charset="utf-8"></script>
	<!-- Preloader Ends -->

	<!-- Ui To Top Starts -->
		<link href="../static/css/ui.totop.css" rel="stylesheet" />
		<script src="../static/js/jquery.ui.totop.js" charset="utf-8"></script>
	<!-- Ui To Top Ends -->

	<!-- DC Twitter Starts -->
		<link href="../static/css/jquery.tweet.css" rel="stylesheet" />
		<script src="../static/js/jquery.tweet.js" charset="utf-8"></script>
	<!-- DC Twitter End -->
	
	<!-- jcarouselScroller Starts-->
		<link rel="stylesheet" type="text/css" href="../static/css/jcarousel_skin.css" />
		<script type="text/javascript" src="../static/js/jquery.jcarousel.min.js"></script>
		<script type="text/javascript">
		function mycarousel_initCallback(carousel)
		{
			// Disable autoscrolling if the user clicks the prev or next button.
			carousel.buttonNext.bind('click', function() {carousel.startAuto(0);});
			carousel.buttonPrev.bind('click', function() {carousel.startAuto(0);});
			// Pause autoscrolling if the user moves with the cursor over the clip.
			carousel.clip.hover(function() {carousel.stopAuto();}, function() {carousel.startAuto();});
		};

		jQuery(document).ready(function() {
			jQuery('#mycarousel2').jcarousel({
				auto: 2,
				wrap: 'last',
				initCallback: mycarousel_initCallback
			});
		});
		jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel({
				auto: 2,
				wrap: 'last',
				initCallback: mycarousel_initCallback
			});
		});
		</script>
	<!-- jcarouselScroller End-->

	<!-- Config User Intarface Box Import START -->
		<script type="text/javascript" src="../static/js/head_html_default_block.js"></script>
		<script type="text/javascript" src="../static/js/head_html_block.js"></script>
	<!-- Config User Intarface Box Import END -->
	
	<!-- Mobile navigation Start -->
		<script>
		$(function () {
			$('#nav').tinyNav({
				active: 'selected',
				header: 'Navigation' 
			});
		});
		</script>
		<script type="text/javascript" src="../static/js/tinynav.min.js"></script>
	<!-- Mobile navigation End -->

</head>

<body>
<div class="body_pattern">
	<div class="index_page">
		<div class="main">
		
			<div class="header">
				<div class="clr"></div>
				<div class="container">
					<div class="header_resize"> 
					
						<!-- logo -->
						<div class="logo">
							<div><a href="index.html"><span>Mies</span>Fanpage</a></div>
							<!--<p>Premium Creative/Agency </p>--> 
						</div>
						<div class="clr"></div>
						<!-- /logo --> 
						
						<!-- menu -->
						<div class="nav_pannel">
							<div class="menu"> 
								<script type="text/javascript" src="../static/js/menu_html_block.js"></script> 
							</div>
							<div class="clr"></div>
						</div>
						<!-- /menu -->
						
						<div class="clr"></div>
						<div class="clr"></div>
						
					</div>
				</div>
				
				<div class="clr"></div>
				<!-- now_page -->

				<div class="clr"></div>
				<div class="clr"></div>
			</div>
	  
	  
			{% block content %} {% endblock %}

			
			<div class="clr"/>
			
			<!-- footer -->
			<div class="footer">
				<div class="container">
					<div class="footer_resize">
						<p>&copy; Copyright 2016 Mies Fanpage.</p>
					</div>
				</div>
				<div class="clr"/>
			</div>
			<!-- footer -->
			
			<div class="clr"/>
		</div>
	</div>
</div>
</body>
</html>
