{% extends "base.html" %}
{% block content %}


<div class="content">
	<div class="container">
		<div class="content_resize" id="gallery" style="background:none;">
			<div class="content_text">
				<h1>Ludwig Mies van der Rohe - Biography</h1>
			</div>

			<div class="content_page">
				<div class="content_full_size">
				<div class="h2_background">
					<h2><span>Synopsis and career</span></h2>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
				<div class="clr"></div>
				<p>Ludwig Mies van der Rohe created an influential twentieth-century architectural style. A master of minimalism, his style combines an open space and natural and modern materials such as industrial steel, plate glass and stone to highlight interior space. </p>
				<div class="pic fl"></br><div class="pic img_hover_box 1_ico"><a href="../static/images/photos/bio/bio-1.png" class="prettyPhoto" rel="prettyPhoto[id]"> <img src="../static/images/photos/bio/bio-1s.png"/>
							<div class="img_hover_overlay">
								<div class="r_plus"></div>
							</div>
						</a>
					</div> </div>
					<p>Maria Ludwig Michael Mies was born in Aachen was born in Germany in 1886, started out working as a draftsman father's stone carving shop. After that, Mies was an apprentice at the studio of Peter Behrens from 1908 to 1912 where he was exposed to the current design theories.</p>
					
					<p>The outbreak of World War I in 1914 put Mies’s career on hold, and during the conflict, he served in the German military, helping build bridges and roads. Returning to his work after the war, Mies debuted his vision of a glass skyscraper, submitting the futuristic design for a 1921 competition. Around this time, Mies added “van der Rohe” to his name, an adaptation of his mother's maiden name.</p>
					
					<p>His talent was quickly recognized and he soon began independent commissions. Mies then became a well-known architect in Germany, creating such structures as the German Pavilion for the 1929 Barcelona Exposition. In the late 1930s, Mies emigrated to the United States. There he created such well-known Modernist works as the Lake Shore Drive Apartments and the Seagram Building.</p>
				<div class="clr"></div>
			</div>
			<div class="separator_clear"></div>
			<div class="content_full_size">
				<div class="h2_background">
					<h2><span>Architectonic artwork and Legacy</span></h2>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
				<div class="pic fr"><div class="pic img_hover_box 1_ico"><a href="../static/images/photos/bio/bio-2.png" class="prettyPhoto" rel="prettyPhoto[id]"> <img src="../static/images/photos/bio/bio-2s.png"/>
							<div class="img_hover_overlay">
								<div class="r_plus"></div>
							</div>
						</a>

					</div> </div>
				<p>By the mid-1920s, Mies had become a leading avant-garde architect in Germany. He was a member of the radical artistic organization Novembergruppe, and later joined the Bauhaus movement. The Bauhaus movement embraced socialist functional philosophy about art and design.</p>

				<p> In the late 1930s, Mies left for the United States. Settling in Chicago, he ran the school of architecture at what is now the Illinois Institute of Technology and also developed the plan for its campus.</p>

				<p>Mies was the subject of a solo exhibition at the Museum of Modern Art in New York City in 1947.</p>
				
				<p>Following a long battle with esophageal cancer, Mies died on August 17, 1969 in Chicago. Many of his impressive buildings still stand today. At one of his interviews for New York Times newspapers, Mies said:</p>
				<p>“I have tried to make an architecture for a technological society, I wanted to keep everything reasonable and clear — to have an architecture that anybody can do.”</p>
			</div>



			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div>
</div> 



<div class="clr"></div>
</div>
<div class="clr"></div>
<!-- /content -->

{% endblock %}0