{% extends "base.html" %}
{% block content %}


<div class="content">
	<div class="container">
		<div class="content_resize" id="gallery" style="background:none;">
		
			<div class="content_text">
				<h1>Contact</h1>
			</div>
			
			<div class="content_page">
				<div class="content_full_size">
					<div class="code">
					<link type="text/css" rel="stylesheet" href="http://cdn.dcodes.net/2/columns/css/dc_columns.css" />
							<div class="two_third_pad">
								<div class="h2_background">
									<h2><span>Author's university</span></h2>
								</div>
								<div class="clr"></div>
								<div class="maps_view" style="width:100%; height:350px; float:left; position:relative;padding: 3px; background: #F4F4F4; border: 1px solid white; margin-bottom: 15px;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.9375007520225!2d-3.2154526485300705!3d55.93312138050681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7094d1a3ff9%3A0x63b967e8d1488094!2sEdinburgh+Napier+University%2C+Merchiston+Campus!5e0!3m2!1sen!2suk!4v1479305383263" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>
								<div class="clr"></div>
								</div>
								<div class="separator_clear small"></div>
								<p>If you have any suggestions or comments for this website, send an email to me. I will reply within 3 days</p>
								<p>Michele</p>
								<div class="separator_clear"></div>
								<div class="h2_background">
									<h2><span>Email author</span></h2>
								</div>
								<div class="clr"></div>
								<form action="contact.php" method="post" id="contactform_main">
									<ol>
										<li>
											<label for="name">Name*</label>
											<input id="name" name="name" class="text"/>
										</li>
										<li>
											<label for="email">Email*</label>
											<input id="email" name="email" class="text" />
										</li>
										<li>
											<label for="url">Website</label>
											<input id="url" name="web" class="text"/>
										</li>
										<li>
											<label for="subject">Subject*</label>
											<input id="subject" name="subject" class="text"/>
										</li>
										<li>
											<label for="message">Message*</label>
											<textarea id="message" name="message" rows="6" cols="50" ></textarea>
										</li>
										<li class="buttons">
											<input type="submit" name="imageField" value="submit" class="send" />
											<!--<input type="image" name="imageField" id="imageField" src="images/sub.png" class="send" />-->
											<div class="clr"></div>
										</li>
									</ol>
								</form>
								<div class="clr"></div>
							</div>
							<div class="one_third_pad column-last">
								<div class="pad_inside">

									<br />
									<br />
									<br />
									<h3>Edinburgh Napier University</h3>
									<br />
									10 Colinton Road
									<br />
									Edinburgh
									<br />
									EH10 5DT
									<br />
									United Kingdom
									<br />
									<br />
									Phone: 0845 260 6040
									<br />
									Email: enquiries&#64;napier.ac.uk
									<br />
									<br />

									<hr>


									<h4>Twitter</h4>
									<!-- DC Twitter Count Start -->
									<!-- Define your twitter username after: ?screen_name= -->
									<iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=MIESSOCIETY&show_count=true&show_screen_name=false&lang=en" style="width:240px; height:25px;"></iframe>
									<!-- DC Twitter Count End -->

									<br />
									<br />


									<h3>Latest Tweets</h3>
									<!-- DC Twitter Start -->
									<!-- Generate your own embedded timeline: https://dev.twitter.com/docs/embedded-timelines -->
									<a class="twitter-timeline" data-width="240" data-height="230" data-chrome="nofooter noheader transparent" data-theme="dark" href="https://twitter.com/MiesSociety">Tweets by MiesSociety</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
									<!-- DC Twitter End -->

									<br />
									<br />
									
									<h4>Facebook page</h4>
									<!-- DC Facebook Likes Box Start -->
									<iframe src="http://www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/miessociety&width=240&height=258&colorscheme=dark&show_faces=true&border_color&stream=false&header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:99%; height:350px;" allowTransparency="true"></iframe>
									<!-- DC Facebook Likes Box End -->

								</div>
							</div>
							<div class="clr"></div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!-- /content -->

<div class="clr"></div>

	 
{% endblock %}