{% extends "base.html" %}
{% block content %}
	
	
<div class="container">
	<div class="content_text">
		<h1>Welcome to Mies Fanpage</h1>
	</div>
</div>
<!-- now_page -->
<div class="container">
	<div id="now_slider" style="width:100%; padding:0; height:auto; ">
		<img src="../static/images/photos/home/1.png" id="image1" />
	</div>
</div>                        
<div class="clr"></div>     

<div class="clr"></div>

<div class="clr"></div>
</div>
<div class="clr"></div>
<div class="content">
	<div class="container">
		<div class="content_resize1">
			<div class="clr"></div>			
				<center><h2><span>This page provides information about architect Ludwig Mies van der Rohe and his artwork.<span></h2></center>
			<br/>
			<br/>
		</div>
		<div class="clr"></div>

	</div>
</div>
<div class="clr"></div>
<!-- /content resize -->
</div>
<div class="clr"></div>
<!-- /content -->
		
{% endblock %}