{% extends "base.html" %}
{% block content %}
	
	
<div class="clr"></div>
<div class="container">
	<div class="content_text">
		<h1>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan<br />
			porttitor, facilisis luctus, metus.</h1>
		<p>Proin iaculis purus consequat sem cursus digni ssim. Donec porttitor entume suscipit. </p>
	</div>
</div>
<!-- now_page -->
<div id="now_slider" style="width:100%; padding:0; min-height:100px; ">
	<div class="slider_box">
		<div id="slider" class="nivoSlider"> 

			<img src="http://cdn.pimg.co/p/1600x400/120127/fff/img.png"  alt="slider_img" title="#htmlcaption" />

			<img src="http://cdn.pimg.co/p/1600x400/456321/fff/img.png" title="#htmlcaption2"  alt="slider_img"  /> 

			<img src="http://cdn.pimg.co/p/1600x400/205478/fff/img.png" title="#htmlcaption3"  alt="slider_img"  />

		</div>
		<div id="htmlcaption" class="nivo-html-caption">
			<div class="resize">
				<h4>Vivamus vestibulum nulla nec ante.</h4>
				<h5>Praesent dapibus, neque id cursus faucibus, tortor neque egestas </h5>
			</div>
		</div>
		<div id="htmlcaption2" class="nivo-html-caption">
			<div class="resize">
				<h4>Vivamus vestibulum nulla nec ante.</h4>
				<h5>Praesent dapibus, neque id cursus faucibus, tortor neque egestas </h5>
			</div>
		</div>
		<div id="htmlcaption3" class="nivo-html-caption">
			<div class="resize">
				<h4>Vivamus vestibulum nulla nec ante.</h4>
				<h5>Praesent dapibus, neque id cursus faucibus, tortor neque egestas </h5>
			</div>
		</div>
	</div>

</div>
<div class="clr"></div>

<div class="clr"></div>
</div>
<div class="clr"></div>
<div class="content">
	<div class="container">
		<div class="content_resize1">
			<div class="testimonial">
				<img class="fl" src="images/test.png" width="24" height="19" alt="image"  />          
				<div class="fl">
					<h2>Aliquam porttitor mauris sit amet orci. Aenean dignissim ...</h2>
					<p class="fr">John Doe, Designer</p>
				</div>
				<img class="fl" style="margin-top:10px;" src="images/test2.png" width="24" height="19" alt="image"  />
			</div> 
			<!--end of testimonials--> 
			<div class="clr"></div>
			<div class="images">
				<h1>Latest <span>Work</span></h1>

				<div id="wrap">
					<ul id="mycarousel" class="jcarousel-skin-tango">
						<li>
							<div class="pic img_hover_box fl hov"><a href="http://cdn.pimg.co/p/800x600/171607/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/171607/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
							<div class="clr"></div>
							<div class="pic img_hover_box fl"><a href="http://cdn.pimg.co/p/800x600/180187/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/180187/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
						</li>
						<li>
							<div class="pic img_hover_box fl hov"><a href="http://cdn.pimg.co/p/800x600/188767/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/188767/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
							<div class="clr"></div>
							<div class="pic img_hover_box fl"><a href="http://cdn.pimg.co/p/800x600/197347/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/197347/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
						</li>
						<li>
							<div class="pic img_hover_box fl hov"><a href="http://cdn.pimg.co/p/800x600/205927/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/205927/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
							<div class="clr"></div>
							<div class="pic img_hover_box fl"><a href="http://cdn.pimg.co/p/800x600/214507/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/214507/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
						</li>
						<li>
							<div class="pic img_hover_box fl hov"><a href="http://cdn.pimg.co/p/800x600/223087/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/223087/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
							<div class="clr"></div>
							<div class="pic img_hover_box fl"><a href="http://cdn.pimg.co/p/800x600/231667/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/231667/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
						</li>
						<li>
							<div class="pic img_hover_box fl hov"><a href="http://cdn.pimg.co/p/800x600/240247/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/240247/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
							<div class="clr"></div>
							<div class="pic img_hover_box fl"><a href="http://cdn.pimg.co/p/800x600/248827/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/248827/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
						</li>
						<li>
							<div class="pic img_hover_box fl hov"><a href="http://cdn.pimg.co/p/800x600/257407/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/257407/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
							<div class="clr"></div>
							<div class="pic img_hover_box fl"><a href="http://cdn.pimg.co/p/800x600/265987/fff/img.png" class="prettyPhoto hov" rel="prettyPhoto[id]"> <img src="http://cdn.pimg.co/p/225x350/265987/fff/img.png"/><img class="hh" src="../images/spacer.gif" width="225" height="400" /><img class="img_z" src="images/img_z.png" width="41" height="41"  />
									<h3>Suspendisse sollicitudin</h3>
									<p>Sed posuere consectetur est at lobortis.</p></a></div>
						</li>
					</ul>
				</div>

				<div class="clr"></div>
			</div>
			<div class="clr"></div>
			
		</div>
	</div>
	<div class="clr"></div>
	<!-- /content resize -->
</div>
<div class="clr"></div>
<!-- /content -->
<div class="clr"></div>
<!-- prefooter -->
<div class="prefooter">
	<div class="container">
		<div class="prefooter_resize">
			<div class="columns1">
				<div class="pref_blog">
					<h2 class="not_font_color">Our Commitment</h2>
					<p>We strive to deliver a level of service that exceeds the expectations of our customers. <br /><br />If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.</p>
				</div>
				<div class="pref_blog">
					<h2 class="not_font_color">Latest Tweets</h2>

					<!-- DC Twitter Start -->
					<!-- Generate your own embedded timeline: https://dev.twitter.com/docs/embedded-timelines -->
					<a class="twitter-timeline" href="https://twitter.com/DevCodes" data-widget-id="346557522754293760" width="230" height="200" data-chrome="nofooter noheader transparent noscrollbar" data-theme="dark" data-link-color="#ccc">Tweets</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					<!-- DC Twitter End -->

				</div>
				<div class="Flickr">
					<h2 class="not_font_color">Keep Updated</h2>

					Subscribe to our mailing list for offers, news updates and more!<br />

					<!-- Mailing List Form -->
					<div id="mailform-subscribe">
						<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

							<input type="email" size="15" value="Your Email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">

								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>

								<div>
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
									</div>
								</form>
							</div>
							<!-- Mailing List Form End --> 

							<div class="clr"></div>
						</div>
						<div class="pref_blog last">
							<h2 class="not_font_color">Stay Connected</h2>

							<!-- DC Facebook Likes Start -->
							<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/DreamTemplate&send=false&layout=standard&width=250&show_faces=false&action=like&colorscheme=dark&font&height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:35px;" allowTransparency="true"></iframe>
							<!-- DC Facebook Likes End -->
							<br />
							<div class="clr" style="padding:0 0 10px 0;"></div>
							<div class="RSS" style="float:left;">

								<a href="#"><img src="images/spacer.gif" alt="f" width="29" height="29" border="0" class="rss1" /></a>
								<a href="#"><img src="images/spacer.gif" alt="f" width="29" height="29" border="0" class="rss2" /></a>
								<a href="#"><img src="images/spacer.gif" alt="f" width="29" height="29" border="0" class="rss3" /></a>
								<a href="#"><img src="images/spacer.gif" alt="f" width="29" height="29" border="0" class="rss4" /></a>
								<a href="#"><img src="images/spacer.gif" alt="f" width="29" height="29" border="0" class="rss5" /></a>
								<a href="#"><img src="images/spacer.gif" alt="f" width="29" height="29" border="0" class="rss6" /></a>


							</div>
							<div class="clr"></div> </div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
				</div>
			</div>
			<!--prefooter_resize end  -->    
			<div class="clr"></div>
		</div>

		
{% endblock %}