/*

* Skeleton V1.2

* Copyright 2011, Dave Gamache

* www.getskeleton.com

* Free to use under the MIT license.

* http://www.opensource.org/licenses/mit-license.php

* 6/20/2012

*/



/* Table of Content

==================================================

	#Site Styles

	#Page Styles

	#Media Queries

	#Font-Face */



/* #Site Styles

================================================== */



/* #Page Styles

================================================== */



/* #Media Queries

================================================== */



	/* Smaller than standard 960 (devices and browsers) */

	@media only screen and (max-width: 959px) {

		.jcarousel-skin-tango .jcarousel-container-horizontal, .jcarousel-skin-tango .jcarousel-clip-horizontal { width: 960px !important; }



		

	}



	/* Tablet Portrait size to standard 960 (devices and browsers) */

	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#slider-wrapper object { width: 100%; height: 350px; }

		.menu ul li a.ms_top { padding-left: 10px; padding-right: 10px; }

		.colums_box.no_bg { width: 175px; }

		.pref_blog { width:20%; }

		.jcarousel-skin-tango .jcarousel-container-horizontal, .jcarousel-skin-tango .jcarousel-clip-horizontal { width: 768px !important; }

		.cols3 .col3 { width: 30%; }

		.cols4p .col4p, .cols4 .col4p { width: 23%; }





		 }



	/* All Mobile Sizes (devices and browser) */

	@media only screen and (max-width: 767px) {
		.nivo-caption { display: none !important; }

		.testimonial { width: 420px; }

		.menu { float: none; } 

		.jcarousel-skin-tango .jcarousel-container-horizontal, .jcarousel-skin-tango .jcarousel-clip-horizontal { width: 420px !important; }

		.menu .tinynav { display: block; }

		.menu ul { display: none; }

		.menu select { padding: 6px 2% 4px 2%; margin: 10px 0 30px 0; height: 36px; line-height: 36px; float: left; width: 98%; }

		

		#slider-wrapper object { width: 100%; height: 280px; }

		.cols2 .col2, .cols2 .col2.last { width: 90%; float: left; }

		.centercol, .centercol.last { width: 90%; float: left; }

		.sidebar.last, .sidebar { width: 90%; float: left; }

		.container .content_text h1 { font-size: 30px !important; }

		.center_side h2 { width: 100%; }

		.gallery-categ { margin: 40px 0 0 0; float: none; }

		.img_hover_box a.hov img.img_z { display: none; }

		.colums_box.no_bg { width: 400px; }

		.pref_blog { width:80%; }

		.cols3 .col3, .cols3 .col3.last { width: 90%; float: left; }

		.cols4p .col4p, .cols4p .col4p.last, .cols4 .col4p, .cols4 .col4p.last { width: 45%; float: left; min-height: 320px; }

		.img_hover_box.pic a img.h2 { display: none !important;}

		

			

		ppt .ppt { width: 90% !important; }

		

		.container div.dc_pricingtable03 div.caption_column { margin-left: 0px; width: 100%; }

		.container div.dc_pricingtable03 div.caption_column li.header_row_1, div.dc_pricingtable03 div.column_1 li.header_row_1, div.dc_pricingtable03 div.column_2 li.header_row_1, div.dc_pricingtable03 div.column_3 li.header_row_1, div.dc_pricingtable03 div.column_4 li.header_row_1 { display: none; }

		.container div.dc_pricingtable03 li.row_style_1, div.dc_pricingtable03 li.row_style_2, div.dc_pricingtable03 li.row_style_3, div.dc_pricingtable03 li.row_style_4 { text-align: center; }

		.container div.dc_pricingtable03 div.column_1 { margin-left: 0px; width: 100%; }

		.container div.dc_pricingtable03 div.column_2 { margin-left: 0px; width: 100%; }

		.container div.dc_pricingtable03 div.column_3 { margin-left: 0px; width: 100%; }

		.container div.dc_pricingtable03 div.column_4 { margin-left: 0px; width: 100%; }

		.container .dc_pricingtable05 ul { width: 100%; }

		.container .dc_pricingtable05 { margin-left: 0px; }

		.container .dc_pricingtable06 ul { width: 100%; }

		.container .dc_pricingtable06 { margin-left: 0px; }

		.container #coment img { float: none; }

		.container #coment2 img { float: none; }

		.container #coment .podpis { float: none; }

		.container #coment2 { margin-left: 0px; }

		.container #coment2 img { float: none; }

		.container #coment2 .podpis { float: none; }

		.container #coment3 { margin-left: 0px; }

		.container #coment3 img { float: none; }

		.container #coment3 .podpis { float: none; }

		.container #coment { padding-bottom: 12px; }

		.container #coment br { display: none; }

		.container #coment2 br { display: none; }

		.container #coment3 br { display: none; }

		.container #coment3 .podpis { width: 100%; }

		.container .r_plus_overlay { display: none; }

		.container .r_plus { display: none; }



		.container .search form { padding-left: 68px; }

		.container .search input.editbox_search { width: 222px; }

		.container .fl { float: none; }

		.container #webstore { font-size: 12px; min-width: 358px; }

		.container #catalogue .product { width: 100%; float: none; }

		.container .product.last-column .webstore-clear { margin-left: -5px; }

		.container #webstore #catalogue .product:first-child > div, #catalogue .product:first-child + li > div { margin: 0 0 5px 0; }

		.container #webstore #catalogue .first-column > div { margin: 0 0 5px 0; }

		.container #webstore #catalogue .last-column > div { margin: 0 0 5px 0; }

		.container #cart .description { font-size: 8px; height: auto; }

		.container #cart-list .title, #cart-list .price { font-size: 8px; }

		.container #webstore input, #webstore select { width: 15px; height: 13px; }

		.container #cart input.quantity { width: 6%; }

		.container #cart-list .price span { padding-left: 5px; font-size: 6px; font-weight: bold; width: auto; }

		.container #webstore .cart-totals label { font-size: 7px; }

		.container #webstore .cart-totals label + span { font-size: 7px; }

		.container #webstore .cart-totals label { width: 0px; }

		.container #webstore .cart-options label { font-size: 7px; font-weight: bold; }

		.container #webstore input, #webstore .right.cart-options select { padding: 2px; width: 67px; font-size: 7px; }

		.container #webstore button span { padding: 0px 2px 0 2px; font-size: 5px; height: 26px; line-height: 26px; }

		.container #catalogue .price, #webstore button { height: 37px; }

		.container #checkout form > div:first-child label { margin: 0px; font-size: 9px; }

		.container .code .one_third_pad { margin: 0px; }

		.container .pic.fl { margin: 0px; }

		.container .pic.fr { margin: 0px; }

		.container .fr { float: none; }

		.container .fr.detail { float: right; }

		.container .fl.detail { float: left; }

		.container .fl.btn { float: left; }

		}

 

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

	@media only screen and (min-width: 480px) and (max-width: 767px) {

		#controls { right: 8%!important; }

		}



	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

	@media only screen and (max-width: 479px) {

		.testimonial { width: 300px; }

		.jcarousel-skin-tango .jcarousel-container-horizontal, .jcarousel-skin-tango .jcarousel-clip-horizontal { width: 300px !important; }

		.container .logo { margin-left: 23%; width: auto; }

		#slider-wrapper object { width: 100%; height: 190px; }

		.container .RSS { margin: 5px 0 0px 0; float: left; }

		.colums_box.no_bg { width: 280px; }

		

		}

		





/* #Font-Face

================================================== */

/* 	This is the proper syntax for an @font-face file

		Just create a "fonts" folder at the root,

		copy your FontName into code below and remove

		comment brackets */



/*	@font-face {

	    font-family: 'FontName';

	    src: url('../fonts/FontName.eot');

	    src: url('../fonts/FontName.eot?iefix') format('eot'),

	         url('../fonts/FontName.woff') format('woff'),

	         url('../fonts/FontName.ttf') format('truetype'),

	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');

	    font-weight: normal;

	    font-style: normal; }

*/